@import "reset.css";
body {
  background-color: black;
  color: white;
  text-shadow: 1px 1px 2px rgb(0, 0, 0);
  padding: 20px 20px;
}

button {
  cursor: pointer;
}

.clicked {
  color: rgb(194, 194, 194);
}

.form,
.greetings {
  display: none;
}

.showing {
  display: block;
}

@keyframes fadeEffect {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.bgImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: -1;
  animation: fadeEffect 8s linear;
}

.header {
  height: 80px;
  margin-bottom: 20px;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.greetings {
  font-size: 24px;
  margin-top: 10px;
  margin-left: 10px;
}

.section__todo {
  margin-bottom: 25px;
}
h2 {
  font-size: 28px;
  margin-top: 30px;
}
input {
  background-color: rgba(0, 0, 0, 0);
  border-style: none;
  color: white;
  height: 30px;
  width: 300px;
  opacity: 0.8;
  font-size: 22px;
  margin-top: 10px;
  margin-left: 25px;
  text-align: left;
  border-bottom: 2px solid tomato;
}
input::placeholder {
  color: white;
  opacity: 0.8;
}
h3 {
  font-size: 28px;
  margin-top: 30px;
}
ul {
  margin-bottom: 30px;
}
li {
  font-size: 22px;
  margin: 10px 20px;
}
.js-weather {
  font-size: 22px;
}
